<body>
<div class ="container"novalidate>
  <div *ngFor="let post of allPosts">
    <mat-card class="polaroid">
      <mat-card-header style="margin-bottom: 10px">
        <mat-card-title>{{post.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image *ngIf="post" [src]=imageSrc(post.image) alt="Foto">
      </mat-card-content>
      <mat-card-content>
        <p>{{post.location}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</body>


